/* __________________________________________________________________________________ */
/* _________________________________| öffner |______________________________________ */

.ck-hovered {
  width: 70%;
  background-image: url("quatschbilder/blaubeere.png");
  transition: none;
}

.ck-ro {
  transition: all 0.4s ease-out;
}

.content-kachel:hover {
  cursor: default;
}

.kachel-zeile {
  justify-content: space-between;
  margin: 0;
  transition: all 0.4s ease-out;
}

.kz-hovered {
  height: 80%;
}

.plopped-to-right {
  width: 0;
  margin: 0;
  border-radius: 13.5vh 4vh 13.5vh 4vh;
}

.plopped-down {
  height: 0;
  width: 70%;
  flex: 0 0 auto;
  transition: all 0.4s ease-out;
  justify-content: space-between;
  border-radius: 13.5vh 4vh 13.5vh 4vh;
}

.ebenerdig {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
}

.plopped-out {
  width: 100%;
  border-radius: 13.5vh 4vh 13.5vh 4vh;
  transition: all 0.4s ease-out;
}

.content-kachel:hover {
  width: 100%;
}

.kachel-loch {
  background-color: rgba(255, 255, 255, 0);
  z-index: 90;
  transition: all 0.3s ease-in 0s;
}

.opener {
  position: absolute;
  height: 100vh;
  width: 50vw;
  background-color: var(--loch1-farbe);
  z-index: 89;
}

.opener-left {
  left: 0;
}

.opener-right {
  right: 0%;
}

.opener-left-open {
  left: -55vw;
  transition: left 0.5s ease-in 0.03s;
}

.opener-right-open {
  right: 200vw;
  transition: right 0.5s ease-in 0.03s;
}

/* __________________________________________________________________________________ */
/* _________________________________| Landing |______________________________________ */

.full-container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  background-color: rgb(80, 81, 156);
  /* background-color: rgb(43, 39, 104); */
  scroll-snap-align: start;
  flex: 0 0 auto;
  /* background-color: rgb(215, 215, 252); */
}

.h2u {
  font-family: f-medium;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.726);
  line-height: 1;
  text-align: start;
  /* text-shadow: 0.3rem 0.3rem 0.3rem rgb(8 0 36 / 8%), 0 0 0.3rem rgb(3 0 32 / 15%); */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding-left: 12rem;
  /* text-shadow: 0.3rem 0.3rem 0.3rem rgba(8, 0, 36, 0.075), 0 0 0.3rem rgba(3, 0, 32, 0.151); */
}

.textcontainer2u {
  margin: 0 0 0 3rem;
}

.home-textu {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  font-family: f-light;
}
