html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

.kachel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 70vw;
    /* background-color: var(--loch1-farbe); */
    padding: 5rem 1.5vw 1rem 1.5vw;
    z-index: 40;
}

.kachel-loch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 15vh 5.5vh;
    background-color: var(--loch2-farbe);
    box-shadow: var(--shadow-in);
}

.kz {
    width: 100%;
    height: 50%;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-evenly;
}

.kachel {
    width: 50%;
    display: flex;
    box-shadow: var(--shadow-out);
    background-color: var(--loch1-farbe);
}

.ck-lo-u {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    border-radius: 13.5vh 2vh 2vh 2vh;
    background-image: url("quatschbilder/blaubeere.pre.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: 50%;
}

.ck-ro-u {
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    border-radius: 2vh 4vh 2vh 2vh;
    background-image: url("quatschbilder/orange.pre.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: 50%;
}

.ck-lu-u {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    border-radius: 2vh 2vh 2vh 4vh;
    background-image: url("quatschbilder/erdbeere.pre.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: 50%;
}

.ck-ru-u {
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    border-radius: 2vh 2vh 13.5vh 2vh;
    background-image: url("quatschbilder/granatapfel.pre.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-position: 50%;
}

.ck-hovered {
    width: 70%;
    background-image: url("quatschbilder/orange-slice.png");    
}

.kz-hovered{
    height: 80%;
}

.left-container {
    z-index: 1;
}

/* ----------------------------------KoPiE EnDe------------------------------------------ */

.kachel-loch {
    transition: all 0.4s ease-out;
}

.kachel {
    transition: all 0.4s ease-out;
}

.kz{
    transition: all 0.4s ease-out;
}

.slow-animation {
    transition: all 0.6s ease-in-out;
}

h2{
    transition: all 0.4s ease-in-out;
}

.opener {
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: var(--loch1-farbe);
    z-index: 25;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.opener-left {
    left: 0vw;
    transition: left 1.2s ease-in .01s;
}

.opener-right {
    right: 0vw;
    transition: right 1.2s ease-in .01s;
}




/* ---------------------------------- Slide-1 ------------------------------------------ */


.full-container3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100vh; 
    width: 100vw;
    background-color: var(--loch3-farbe);
    background-color: rgb(255, 253, 242);
    scroll-snap-align: start;
    flex:0 0 auto;
}

.h2-u {
    font-family: f-semilight;
    font-size: 4.5rem;
    color: white;
    line-height: 1;
    text-align: start;
    /* text-shadow: 0.3rem 0.3rem 0.3rem rgba(8, 0, 36, 0.075), 0 0 0.3rem rgba(3, 0, 32, 0.151); */
    background-color: rgb(200, 200, 214);
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  
}

#slide2 {
    background-color: rgb(255, 196, 0);
}
